.body {
  min-height: 100%
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  height: 5000px;
}


#editor {
    font-size: 15px;
}


#output-pane {
    font-size: 15px;
    border-top: 1px solid #ccc;
    background-color: #eee;
    overflow: auto;
    box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
}

#output-pane .output-container {
    margin: 8px;
}

#output-pane button.close {
    margin-right: 5px;
}

#output-pane .executing {
    display: none;
    font-weight: bold;
    color: #666;
    margin-bottom: 6px;
}

#output pre.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.popover input {
    margin-top: 10px;
}

.errorGutter {
    background-color: #ffcccc;
    color: #cc0000;
}

.navbar-fixed-top {
  position: static
}
